In [5]:
import pandas as pd

# Create dummy data
data = {
    'id_student': [1, 2, 3, 4, 5],
    'gender': ['M', 'F', 'M', 'F', 'M'],
    'highest_education': ['A Level or Equivalent', 'HE Qualification', 'Lower Than A Level', 'Post Graduate Qualification', 'A Level or Equivalent'],
    'imd_band': ['0-10%', '20-30%', '40-50%', '60-70%', '80-90%'],
    'num_of_prev_attempts': [0, 1, 0, 2, 1],
    'studied_credits': [60, 50, 40, 30, 20],
    'sum_click': [100, 200, 150, 300, 250],
    'before_course_click': [50, 100, 75, 150, 125],
    'after_course_click': [50, 100, 75, 150, 125],
    'final_score': [70, 65, 50, 80, 55]
}

# Create DataFrame
dummy_data = pd.DataFrame(data)
dummy_data.to_csv('dummy_data.csv', index=False)

In [6]:
dummy_data

,id_student,gender,highest_education,imd_band,num_of_prev_attempts,studied_credits,sum_click,before_course_click,after_course_click,final_score
0,1,M,A Level or Equivalent,0-10%,0,60,100,50,50,70
1,2,F,HE Qualification,20-30%,1,50,200,100,100,65
2,3,M,Lower Than A Level,40-50%,0,40,150,75,75,50
3,4,F,Post Graduate Qualification,60-70%,2,30,300,150,150,80
4,5,M,A Level or Equivalent,80-90%,1,20,250,125,125,55